---
// Import necessary components and utilities
import AvatarBlog from "@components/ui/avatars/AvatarBlog.astro";
import { Image } from "astro:assets";
import { formatDate } from "@utils/utils";
import type { CollectionEntry } from "astro:content";

const { blogEntry, blogLocale = "" } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
  blogLocale?: string;
}
---

<!-- This anchor tag serves as the primary container for the card, linking to the detailed blog post page.
     It utilizes data-astro-prefetch, an Astro-specific Dynamic HTML feature, for automatic page prefetching to enhance navigation speed. -->
     <a
     class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
     href={blogLocale !== "" ? `/${blogLocale}/blog/${blogEntry.slug}/` : `/blog/${blogEntry.slug}/`}
     data-astro-prefetch
   >
     <!-- Container for the blog post's cover image -->
     <div class="relative h-[500px] w-[335px] flex-shrink-0 overflow-hidden rounded-xl">
       <Image
         class="absolute start-0 top-0 bottom-0 end-0 object-contain transition duration-500 group-hover:scale-110"
         src={blogEntry.data.cardImage}
         alt={blogEntry.data.cardImageAlt}
         draggable={"false"}
         loading={"eager"}
         format={"avif"}
       />
       <!-- Container for the blog post's title displayed on hover -->
       <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-neutral-900 bg-opacity-75 backdrop-filter backdrop-blur-lg">
         <!-- The title of the blog post with adjusted font size and color for better readability -->
         <h3 class="text-white text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl text-center px-4">
           {blogEntry.data.title}
         </h3>
       </div>
     </div>
   </a>
   